@tailwind base;
@tailwind components;
@tailwind utilities;
.text-shadow {
	--text-shadow: oklch(var(--b1));
	text-shadow: 
        /* first layer at 1px */ -1px -1px 0px var(--text-shadow), 0px -1px 0px var(--text-shadow), 1px -1px 0px var(--text-shadow), -1px 0px 0px var(--text-shadow), 1px 0px 0px var(--text-shadow), -1px 1px 0px var(--text-shadow), 0px 1px 0px var(--text-shadow), 1px 1px 0px var(--text-shadow), /* second layer at 2px */ -2px -2px 0px var(--text-shadow), -1px -2px 0px var(--text-shadow), 0px -2px 0px var(--text-shadow), 1px -2px 0px var(--text-shadow), 2px -2px 0px var(--text-shadow), 2px -1px 0px var(--text-shadow), 2px 0px 0px var(--text-shadow), 2px 1px 0px var(--text-shadow), 2px 2px 0px var(--text-shadow), 1px 2px 0px var(--text-shadow), 0px 2px 0px var(--text-shadow), -1px 2px 0px var(--text-shadow), -2px 2px 0px var(--text-shadow), -2px 1px 0px var(--text-shadow), -2px 0px 0px var(--text-shadow), -2px -1px 0px var(--text-shadow);
}
[data-aos][data-aos][data-aos-easing="ease-out-back"],
body[data-aos-easing="ease-out-back"] [data-aos] {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
[data-aos="fade-blur-up"] {
	transform: translate3d(0, 100px, 0) scale(0);
}
[data-aos^="fade-blur"][data-aos^="fade-blur"].aos-animate {
	opacity: 0;
	transform: translateZ(0) scale(1);
}
@keyframes bounce-2 {
	0%,
	100% {
		transform: translateY(0%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(25%);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}
@keyframes levitate-1 {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-2px, 20px);
	}
	40% {
		transform: translate(-20px, -2px);
	}
	60% {
		transform: translate(2px, 20px);
	}
	80% {
		transform: translate(20px, -2px);
	}
	100% {
		transform: translate(0);
	}
}
@keyframes levitate-2 {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-20px, 2px);
	}
	40% {
		transform: translate(-2px, -20px);
	}
	60% {
		transform: translate(20px, 2px);
	}
	80% {
		transform: translate(2px, -20px);
	}
	100% {
		transform: translate(0);
	}
}
@keyframes levitate-3 {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(20px, -2px);
	}
	40% {
		transform: translate(2px, 20px);
	}
	60% {
		transform: translate(-20px, -2px);
	}
	80% {
		transform: translate(-2px, 20px);
	}
	100% {
		transform: translate(0);
	}
}

@layer components {
	.effect-3d {
		box-shadow: 6px 6px oklch(var(--bc));
		@apply outline-base-content;
	}
	.card-3-title {
		@apply w-full gap-2 flex sm:flex-col-reverse justify-between sm:justify-start;
	}
	.card-3 {
		@apply sm:w-1/3 shadow flex min-w-56 w-full sm:max-w-sm flex-col grow rounded p-5 gap-2;
	}
	.card-2 {
		@apply outline-1 outline-base-content/10 outline card min-w-56 max-w-full grow bg-base-100 shadow-xl rounded-md hover:effect-3d hover:translate-x-[-3px] hover:translate-y-[-3px] transition z-10 hover:z-[9];
	}
	.splitting .word {
		animation: slide-in 0.5s cubic-bezier(0.5, 0, 0.5, 1) both;
		animation-delay: calc(100ms * var(--word-index));
	}
	@keyframes slide-in {
		from {
			transform: translateY(1em) scale(1);
			opacity: 0;
		}
	}
	.container-content {
		@apply container px-5 mx-auto my-20;
	}
	[aria-label="content"] {
		@apply w-full flex-wrap gap-6 justify-center flex flex-col lg:flex-row mx-auto items-center text-center font-bold;
	}
	.base-links {
		@apply btn btn-ghost aria-selected:text-neutral-900 dark:aria-selected:text-neutral-100 aria-selected:bg-slate-950/20 dark:aria-selected:bg-slate-50/10 aria-selected:font-semibold font-medium rounded-sm;
	}
	.nav-links {
		@apply base-links lg:text-sm text-base;
	}
	.drawer-links {
		@apply base-links m-0 w-full justify-start lg:text-sm text-base;
	}
}
